.sign_up{
    font-size: 15px;
    display: inline-block;
    color: aliceblue;
    border: 1.5px solid antiquewhite;
    padding: 15px 40px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 20vh;
}

.sign_up:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px){
    .record h1{
        font-size: 25px;
        font-weight: 600;
    }
    .row{
        flex-direction: column;
    }
}

.additional_features{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 10vh;
}

.additional_features h1{
    font-size: 36px;
    font-weight: 600;
    
}

.additional_features p{
    margin: 10px 0 40px;
    font-size: 20px;
    padding-bottom: 30px;
    
}

.additional_features_col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    color: aliceblue;
}

/* .additional_features_col img{
    width: 100%;
    display: block;
} */

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(4,0,0,0.7);
}

.layer h3{
    color: aliceblue;
    font-size: 22px;
    padding-bottom: 10%;
    padding-top: 30%;
    opacity: 0;
    transition: 0.5s;
}

.layer a{
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    opacity: 1;
}

.layer:hover a{
    opacity: 1;
}
