<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link href="./css/style.css" rel="stylesheet"> -->
    <style>
        .card-img-top{
            height: 35vh;
            object-fit: cover;
        }
        .card-title{
            height: 15vh;
            padding-bottom: 10px;
        }
        .card-text{
            height: 15vh;
            padding-bottom: 10px;
        }
        @media (max-width:1199px) and (min-width:770px){
            .card-title{
                font-size: 14px;
            }
            .card-text{
                font-size: 13px;
            }
        }
        .card{
            box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
            background:#daeaf5;
        }
    </style>
</head>

<body>
    <div class="main-body" >
    <div class="container py-5" >
        <h1 class="text-center" >Latest Medical News</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5 col-md-12" >

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img1">
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title1"></h5>
                        <p class="card-text" id="desc1"></p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <a id="link1" style="color: white;"><button class="btn btn-primary" >Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img2">
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title2"></h5>
                        <p class="card-text" id="desc2"></p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <a id="link2" style="color: white;"><button class="btn btn-primary">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img3" >
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title3"></h5>
                        <p class="card-text" id="desc3"></p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a id="link3" style="color: white;"><button class="btn btn-primary">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img4">
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title4"></h5>
                        <p class="card-text" id="desc4"></p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a id="link4" style="color: white;"><button class="btn btn-primary">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img5">
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title5"></h5>
                        <p class="card-text" id="desc5">.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <a id="link5" style="color: white;"><button class="btn btn-primary">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img6">
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title6"></h5>
                        <p class="card-text" id="desc6"></p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <a id="link6" style="color: white;"><button class="btn btn-primary">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img7">
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title7"></h5>
                        <p class="card-text" id="desc7"></p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <a id="link7" style="color: white;"><button class="btn btn-primary">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img8">
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title8"></h5>
                        <p class="card-text" id="desc8"></p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <a id="link8" style="color: white;"><button class="btn btn-primary">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" id="img9">
                    <div class="card-body">
                        <h5 class="card-title fs-10" id="title9"></h5>
                        <p class="card-text" id="desc9"></p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <a id="link9" style="color: white;"><button class="btn btn-primary">Read More..</button></a>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>   
    <script>
      url =   'https://newsapi.org/v2/top-headlines?'+
        'country=in&'+
        'category=health&'+
        'apiKey=cd147b5e8e1f453d9055367c17437d34' 

fetch(url)
  .then(response => {
    
    if (!response.ok) {
      throw new Error(`HTTP error! Status: ${response.status}`);
    }

    
    return response.json();
  })
  .then(data => {
    

    let something = data.articles;
    let i=0;
    let list = [];
    while(i<20){
        // 
        if(something[i].source.name!=="YouTube" && something[i].urlToImage !== null && something[i].description !==""){
            list.push(something[i]);
        }
        i++;
    }
    let m=1;
    while(m<10){
      document.getElementById(`img${m}`).src = list[m].urlToImage;
      document.getElementById(`title${m}`).innerText = list[m].title;
      document.getElementById(`desc${m}`).innerText = list[m].description;
      document.getElementById(`link${m}`).href = list[m].url;
      m++;
    }
    console.log(list[3])
  })
  .catch(error => {
    // Handle errors
    console.error('Fetch error:', error);
  });

    </script>
</body>

</html>
