@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-shadow {
  @apply hover:shadow-md hover:-translate-y-px hover:transition-transform;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.leaflet-container{
  @apply h-full w-full rounded-lg;
}

#root {
  margin:0;
  padding:0;
  min-height:100%;
  min-width:100%;
}