@tailwind base;
@tailwind components;
@tailwind utilities;

  .icon-shadow {
    @apply hover:shadow-md hover:-translate-y-px hover:transition-transform;
  }
  
  * {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  .leaflet-container{
    @apply h-full w-full rounded-lg;
    
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  ul {
    list-style: none;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }