<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>News</title>
</head>
<body>
<section class="additional_features">
    <h1>Latest News</h1><p>Following are the latest medical news. 
    </p>
    <div class="row">
        <div class="additional_features_col" id="image1">
            <h3 style="text-align: center;font-weight: 200;" id="title1"></h3>
            <h4 id="desc1"></h4>
            <div class="layer"> 
                <a id="link1" class="sign_up">Visit News..</a>   
            </div>
        </div>
        <div class="additional_features_col" id="image2">
            <h3 style="text-align: center;font-weight: 200;" id="title2"></h3>
            <h4 id="desc2"></h4>
            <div class="layer">    
                <a id="link2" class="sign_up">Visit News..</a>
            </div>
        </div>
        <div class="additional_features_col" id="image3">
            <h3 style="text-align: center;font-weight: 200;" id="title3"></h3>
            <h4 id="desc3"></h4>
            <div class="layer">
                <a id="link3" class="sign_up">Visit News..</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="additional_features_col" id="image4">
            <h3 style="text-align: center;font-weight: 200;" id="title4"></h3>
            <h4 id="desc4"></h4>
            <div class="layer"> 
                <a id="link4" class="sign_up">Visit News..</a>   
            </div>
        </div>
        <div class="additional_features_col" id="image5" >
            <h3 style="text-align: center;font-weight: 200;" id="title5"></h3>
            <h4 id="desc5"></h4>
            <div class="layer">
                <a id="link5" class="sign_up">Visit News..</a>
            </div>
        </div>
        <div class="additional_features_col" id="image6">
            <h3 style="text-align: center;font-weight: 200;" id="title6"></h3>
            <h4 id="desc6"></h4>
            <div class="layer">
                <a id="link6" class="sign_up">Visit News..</a>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="additional_features_col" id="image7">
            <h3 style="text-align: center;font-weight: 200;" id="title7"></h3>
            <h4 id="desc7"></h4>
            <div class="layer"> 
                <a id="link7" class="sign_up">Visit News..</a>   
            </div>
        </div>
        <div class="additional_features_col" id="image8">
            <h3 style="text-align: center;font-weight: 200;" id="title8"></h3>
            <h4 id="desc8"></h4>
            <div class="layer">
                <a id="link8" class="sign_up">Visit News..</a>
            </div>
        </div>
        <div class="additional_features_col" id="image9">
            <h3 style="text-align: center;font-weight: 200;" id="title9"></h3>
            <h4 id="desc9"></h4>
            <div class="layer">
                <a id="link9" class="sign_up">Visit News..</a>
            </div>
        </div>
    </div> -->
</section>
<script>
    url =   'https://newsapi.org/v2/top-headlines?'+
      'country=in&'+
      'category=health&'+
      'apiKey=cd147b5e8e1f453d9055367c17437d34' 

fetch(url)
.then(response => {
  
  if (!response.ok) {
    throw new Error(`HTTP error! Status: ${response.status}`);
  }

  
  return response.json();
})
.then(data => {
  

document.getElementById('image1').style.backgroundImage
  let something = data.articles;
  let i=0;
  let list = [];
  while(i<20){
      // 
      if(something[i].source.name!=="YouTube" && something[i].urlToImage !== null && something[i].description !==""){
          list.push(something[i]);
      }
      i++;
  }
  
  let m=1;
  while(m<10){
    // document.getElementById(`img${m}`).style.backgroundImage = 
    let encodedURL = encodeURI(list[m].urlToImage);
    document.getElementById(`image${m}`).style.backgroundImage = `linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(${encodedURL})`;
    document.getElementById(`title${m}`).innerText = list[m].title;
    document.getElementById(`desc${m}`).innerText = list[m].description;
    document.getElementById(`link${m}`).href = list[m].url;
    m++;
  }
  console.log(list[3])
})
.catch(error => {
  // Handle errors
  console.error('Fetch error:', error);
});

  </script> 
</body>
</html>